@include fadeIn();

.details {
    opacity: 1;
    animation: fadeIn 1s;
    margin-bottom: 60px;

    h1 {
        @include pxToRem(40);
        margin: 0 0 30px;
    }

    figure.poster {
        margin: 0;
        @include centerContent();
        min-height: 300px;
        background-color: $background-3;
        margin-bottom: 20px;

        img {
            width: 100%;
        }

        + a {    
            display: block;
            width: 70px;
            background-color: $yellow;
            color: $black;
            padding: 10px 16px;   
            margin: 0 0 40px;        
        }
    }

    .text {
        margin: 0 30px 0 20px;
    }

    strong {
        color: $text-3;
        font-weight: normal;
    }

    .plot {
        margin-top: 20px;
        color: $text-3;
    }

    a {
        color: $yellow;
    }
}