@include fadeIn();

.details {
  opacity: 1;
  animation: fadeIn 1s;
  margin: 30px 0 60px;

  h1 {
    @include pxToRem(40);
    margin: 0 0 30px;
  }

  figure.poster {
    margin: 0;
    @include centerContent();
    min-height: 300px;
    background-color: $background-3;

    img {
      width: 100%;
    }
  }

  a.back {
    display: inline-block;
    background-color: $yellow;
    color: $black;
    padding: 10px 16px;
    margin: 30px 0 40px;
    @include transition(background-color, 0.2s, ease-out);

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }

  .text {
    margin: 0 30px 0 20px;
    display: flex;

    dd {
      margin: 0 0 0.76rem;
    }

    dt {
      color: $text-3;
      font-weight: normal;
    }

    ul {
      padding: 0;
      margin: 0 0 0 1rem;

      li {
        list-style: none;
      }
    }

    @include mediaQueries(sm, max) {
      margin: 0;
    }
  }

  .small {
    display: block;
    margin: 10px 0;
    @include pxToRem(13);
  }

  .plot {
    color: $text-3;
  }

  a {
    color: $yellow;
  }
}
