.result-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    h4 {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    
    &__item {
        position: relative;
        width: 25%;
        height: 250px;
        padding: 0 10px;
        margin: 10px 0;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        &:after {
            content: ''; 
            display: block;  
            background-color: none ;
            width: calc(100% - 15px);
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;       
            @include transition(background-color, .2s, ease-out)
        }

        &:hover {
            &:after {                
                background-color: rgba(0,0,0,.666);               
            }
        }
    }
   


}

