@include fadeIn();

.result-list {
  margin: 0 0 60px;

  h4 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}

.load-more {
  @include pxToRem(18);
  width: 30%;
  display: block;
  margin: 30px auto 100px;
  border: none;
  color: $text-2;
  background-color: $white;
  line-height: 3rem;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $yellow;
  }

  @include mediaQueries(sm, max) {
    width: 100%;
  }
}
