.search-form {
    @include pxToRem(12);   
    color: $text-3;
    padding: 10px 0;
    margin-bottom: 40px; 
    
    h2 {
        @include pxToRem(18);
        margin-bottom: 1rem;
    }
 
    input {
        background: $white;
        margin-top: 10px;
        border: none;
        padding: 1.4rem;
        width: 100%;
        @include pxToRem(14);
        font-weight: bold;
       
        &:focus, 
        &:active {
            border-color: $white;                
        }
    }

    .icon__wrapper {
        position: relative;
        color: $text-3;
        float: right;
        margin: -42px 16px 0 0;
        pointer-events: none;
    }


}

