// Colors

$background-1:      #222222;
$background-2:      #f2f6f8;
$text-1:            #fff;
$text-2:            #000;
$text-3:            #aab2b8;
$btn-bg:            #32cccc;
$green:             green;
$white:             #fff;

